header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 10;
    box-sizing: border-box;
    
}
header .logo {
    font-size: 24px;
    box-sizing: border-box;
}

header .logo a{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

header .logo a:hover{
    box-shadow: 3px 6px 6px 0px rgba(0, 0, 0, 0.75);
    /* transition: ease 0.3s;
    border-radius: 5px; */
    background-color: #575757;
    /* transform: translateY(10px); */
    transition: ease 0.3s;
}


/* 主導航列 */
#navtop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: relative;
    list-style-type: none;
}

#navtop li {
    position: relative;
    padding: 10px 15px;
}

/* 主選單連結 */
#navtop a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
}

/* 主選單連結 hover */

#navtop .nav-item:hover {
    background-color: #575757;
    transform: translateY(10px);
    transition: ease 0.3s;
}

/* 子選單 (預設隱藏) */
#navtop .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4CAF50;
    transition: transform 0.3s ease;
    list-style-type: none;
    min-width: 100%;
}

/* 子選單內容 */
#navtop .dropdown li {
    background-color: #4CAF50;
}

#navtop .dropdown a {
    color: white;
    padding: fit-content;
    white-space: nowrap;
}

#navtop .dropdown li:hover {
    background-color: #575757;
    transform: translateY(0px);
}

#navtop li:hover > .dropdown,
#navtop li:focus-within > .dropdown {
    display: block;
    transform: translateY(0px);
}
