body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /* border: 20px solid black; */
    
}
main {
    display: flex;
    margin: 50px 0 0 200px;
    /* border: 5px solid black; */
    width: 100%;
    position: relative;
}


section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    

}
#room-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    /* background-color: aquamarine; */
}

#room-gallery li{
    width: 250px;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.7) ;
    box-sizing: border-box;
    overflow: hidden;
    
}
#room-gallery img {
    width: 100%;  /* 让图片填充 li 的宽度 */
    height: 100%; /* 让图片填充 li 的高度 */
    object-fit: cover; /* 确保图片填充整个区域，不变形 */
    display: block; /* 避免图片底部的空白间隙 */
}



button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius:5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s; 
    
}

    button:hover {
        background-color: #45a049;
        
    }

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}


