/* 通用選擇器"*"，涉及到重要聲明時加入 !important */
/* 字型連結設定，需要寫在body之內，才會有最大作用 */
/* 中文先，英文後 */
body{
    font-family: 'cwTeXYen','Smooch Sans', serif ;
    /* 字體粗細 */
    font-weight: 550;
    /* 字型樣式 */
    font-style: normal;
  }
img{
  /* 指定寬度 */
  width: 100%;
  height: auto;
}